django>=1.8,<1.9
django-cms>=3.3,<3.4
djangorestframework>=3.3,<3.4
django-oauth-toolkit==0.9.0
django-reversion==1.9.3
mysqlclient
psycopg2
djangocms-style
djangocms-text-ckeditor
unipath
django-cron
requests
ndg-httpsclient
pyopenssl==16.0.0
django-js-reverse
django-mptt
